<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>Footer</title>
</head>
<body>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Agenda</strong> by <a href="https://jgthms.com">Felipe Peixoto</a>. The source code is disponible on GitHub
      <a href="https://github.com/Felipeixotont">felipeixotont</a>.
    </p>
  </div>
</footer>


</body>
</html>